<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partial/_header %>
</head>

<body>
  <ul>

    <li> Short URL:
        <%= `/urls/${shortURL}` %> --> 
        <a href=<%=longURL%>>
          <%=longURL%>
        </a>
    </li>

    <form action='/urls/<%=shortURL%>' method="POST" style="margin:15px;">
      <input id="longURL" type="text" name="longURL" value=<%=longURL%> style="width: 300px">
      <button type=‘submit’>Update TinyUrl Link</button>
    </form>
      
    </form>

  </ul>
</body>

</html>