<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partial/_header %>
</head>

<body>
  <ul>

    <li> 

      Short URL: '/u/<%=shortURL%>' (<a href=<%=longURL%>><%=longURL%></a>)

      <form action='/urls/<%=shortURL%>' method="POST">
        <input id="longURL" type="text" name="longURL" value=<%=longURL%>>
        <button type=‘submit’>Update TinyUrl Link</button>
      </form>

    </li>

  </ul>
</body>

</html>